body, h1, h3, button {
  background-color: #659DBD;
  color: #FBEEC1;
  font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin: 10px;
  background-color: #FBEEC1;
  color: black;
  cursor: pointer;
  outline: solid 2px white;
}

button:active {
  outline: solid 2px grey;
}

/*Stying for Connect Four title*/
.title {
  text-align: center;
}

/*Styling for parent board app*/
.gameView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 855px;
  display: flex;
  justify-content: center;
  outline: solid 2px rgba(0, 0, 0, 0.377);
}

/*Styling for current player and completed game*/
.completedMessage {
  padding: 10px;
}

/*Styling for each board column*/
.column {
  width: 15%;
  display: flex;
  flex-direction: column-reverse;
}

/*Styling for each square*/
.square {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E90FF
}

.white {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: white;
}

.red {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: red;
}

.yellow {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: yellow;
}

.clickable {
  cursor: pointer;
}

/*Styling any logos on page*/
.icon {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  margin: 0px;
}